.custom-grid-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6)),
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiBmaWxsPSJub25lIj4KPHJlY3QgeD0iMC4yNSIgeT0iMC4yNSIgd2lkdGg9IjQ3LjUiIGhlaWdodD0iNDcuNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLW9wYWNpdHk9IjAuMDQiIHN0cm9rZS13aWR0aD0iMC41Ii8+Cjwvc3ZnPgo=);
}

body.color-switch-dark .custom-grid-bg {
  background-color: #0A0A0A;
  /* 1. SVG 격자 패턴 + 2. 그 위에 그라디언트 마스크 */
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,    /* 위쪽: 격자 100% 보이게 */
      rgba(10, 10, 10, 1) 100%  /* 아래쪽: 격자 투명하게 */
    ),
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBmaWxsPSJub25lIj48cmVjdCB4PSIwLjI1IiB5PSIwLjI1IiB3aWR0aD0iMzEuNSIgaGVpZ2h0PSIzMS41IiBzdHJva2U9IiNFQUVBRUEiIHN0cm9rZS1vcGFjaXR5PSIwLjE4IiBzdHJva2Utd2lkdGg9IjAuNSIvPjwvc3ZnPg==");

	background-repeat: repeat;
  background-position: center;
}

.entry-content-wrap {
  padding: 0rem;
}

/* 회사로고 */
.logo-blue {
  fill: #3284d6;
}

.logo-black {
  fill: #383838;
}

.color-switch-dark .logo-blue {
  fill: #3284d6 !important;
}

.color-switch-dark .logo-black {
  fill: #fff !important;
}

/* Freshworks Logo */
.logo-text-freshworks {
  fill: currentColor;
  color: #0B1320;
}

body.color-switch-dark .logo-text-freshworks,
[data-theme="dark"] .logo-text-freshworks {
  color: #fff;
}

/* Google Logo */
.logo-text-gws {
  fill: currentColor;
  color: #5f6368;
}

body.color-switch-dark .logo-text-gws,
[data-theme="dark"] .logo-text-gws {
  color: #fff;
}

/* Monday Logo */
.logo-text-monday {
  fill: currentColor;
  color: #333333;
}

body.color-switch-dark .logo-text-monday,
[data-theme="dark"] .logo-text-monday {
  color: #fff;
}

/* Splashtop Logo */
.logo-text-splashtop {
  fill: currentColor;
  color: #231F20;
}

body.color-switch-dark .logo-text-splashtop,
[data-theme="dark"] .logo-text-splashtop {
  color: #fff;
}

.logo-main {
	width:213.25px;
	height:auto;
}

.logo-mobile {
	padding-top:20px;
}

.solution-card {
  text-align: right;
  padding-right: 50px;
  padding-bottom: 20px;
}
